################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlatformTools/FileContentIndex/effc9fb7-0348-40e9-83b7-78b9072c92bd.vsidx
/.vs/PlatformTools/v17/ipch/2213c211b0dc556f.ipch
/.gitignore
/.vs/PlatformTools/v17/ipch
/.vs/PlatformTools/FileContentIndex/00a009d5-3fca-4243-9e43-4d23654a4f70.vsidx
/.vs/PlatformTools/v17/.suo
/.vs/PlatformTools/v17/Browse.VC.db
/.vs/PlatformTools/v17/Browse.VC.db-shm
/RegTlb/x64/Debug/RegTlb.tlog
/RegTlb/x64/Debug
/x64/Debug
/.vs/PlatformTools/FileContentIndex
/.vs/PlatformTools/v17/Browse.VC.db-wal
/.vs/PlatformTools/v17/DocumentLayout.json
/.vs/PlatformTools/v17/Solution.VC.db
/.vs/PlatformTools/v17
